/*General style*/

html {
    font-family: 'EB Garamond', serif;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

li {
    list-style: none;
}

h1 {
    margin: 20px 0;
    font-size: 40px;
}

h2 {
    width: 30%;
    font-size: 34px;
    color: white;
}

@media (max-width:1026px) { /* big landscape tablets, laptops, and desktops */

    h2 {
        font-size: 26px;
        text-align: center;
        width: 100%;
    }
}

/*Navigation*/

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-shrink: 0;
    width: 20%;
    padding: 0;
    min-width: 235px;
}

.nav a {
    width: 30%;
    font-size: 24px;
    font-weight: 700;
}

/*Mission*/

.mission {
    width: 80%;
    
    display: flex;
    align-items: flex-end;

    margin: auto;
    padding: 0 20px;

    background-image: url(./resources/mission-back.jpg);

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Gallery*/

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    

    background-image: url(./resources/gallery-back.jpg);

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery  h1 {
    color: white;
}

.gl-container {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 5px;
    margin-bottom:  20px;
}

/*Team*/

.team {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.team .team-gallery {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    background-image: url(./resources/footer-back.jpg);

    /* Set a specific height */
    min-height: 300px;
    background-position: top;

}

footer .footer-container {
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

footer .copyright {
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
}

footer .contact {
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer h4 {
    font-size: 20px;
    margin: 10px 0;
}

/*Media*/

@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 

}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

}
